body, html {
  width: 100%;
  height: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Thasadith", sans-serif; }

#containsAll, #modalSpace {
  background-color: whitesmoke;
  padding: 1em;
  border-radius: 2em;
  border: ridge black .1em; }

#bTabList a {
  color: black; }

#bTabList a:hover {
  color: #7a808c; }

.tabListElement {
  margin: 0 .25em; }

#hiddenControl {
  display: none;
  top: 1em;
  position: absolute;
  opacity: 0.7; }

#modalSpace {
  display: none; }
